article {
  width: 50%;
  float: left;
  display: inline;
  padding: 0 1.25rem 1.25rem 1.25rem;
}
.card-image {
  text-align: -webkit-center;
}
  .card-img {
      width: 245px !important;
      height: 300px;
  }

