.hero {
    /* Photo by mnm.all on Unsplash */
    background: url('https://images.unsplash.com/photo-1556139943-4bdca53adf1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80') center;
    /* border-style: solid; */
    background-size: cover;
    padding: 4rem 2rem;
    color: black !important;
    font: bold;
    /* Grid styles */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
  }

  .hero h1 {
    color: black !important;
    font-weight: bold;
    /* width: 80%; */
    padding: 2rem;
    /* border-style: dashed; */

  }
  .hero-search {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  .hero-search > p {
    padding: 1rem;
    font-weight: bold;
  }
  .hero-search > form {
    padding: 1rem;
    
  }
  .material-icons {
    top: 6px !important;
    right: 5px !important;
  }